.contactus-page {
  .icons-block {
    border-top: 1px solid #eeeeee;
    padding: 40px 0;
    margin: 0 0 20px;
    img {
      margin: 0 0 20px;
    }
  }
  .color-block {
    text-align: center;
    padding: 30px 0 20px;
    background: #d1d9dd;
    margin-bottom: 40px;
    h2 {
      font-weight: 400;
      font-family: "Avenir";
      font-weight: bold;
    }
    strong {
      font-weight: bold;
    }
  }
}
