.home_page {
  .home-main-banner {
    &__link {
      display: block;
      margin: 0;
      padding: 0;
      &:hover {
        text-decoration: none;
      }
    }
    &__image {
      display: block;
      height: auto;
      width: 100%;
    }
  }
  // Collections Promos
  .home-season-promotions {
    background-color: $white;
    margin: 40px 0;
    padding: 40px 30px 40px;
    text-align: center;
    &__title {
      letter-spacing: 3px;
      font-family: "AvenirBlack";
      font-size: 24px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      margin: 0;
      line-height: 1.08;
      text-transform: uppercase;
      white-space: normal;
    }
    &__intro {
      color: #6e6e6e;
      font-family: "FrankRuhlLibreRegular";
      font-size: 15px;
      line-height: 1.5;
      margin: 15px auto 32px;
      max-width: 630px;
      text-transform: none;
    }
    &__btn {
      margin: 0 10px 10px;
      font-size: 15px;
      max-width: 250px;
      text-decoration: none;
      padding: 10px 64.15px;
      font-family: "AvenirRegular";
      text-transform: capitalize;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: .4px;
      white-space: nowrap;
    }
  }
  // Vertical Banners
  .home-vertical-banners {
    margin-bottom: 40px;
    .vertical-cards {
      &__item {
        text-align: center;
      }
      &__img-container {
        margin-bottom: 12px;
      }
      &__image-link {
        display: block;
        margin: 0;
        padding: 0;
      }
      &__image-link:hover {
        text-decoration: none;
      }
      &__image {
        background-color: $white;
        display: block;
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
        @include media-breakpoint-down(md) {
          display: inline-block;
          margin: 0 auto;
          max-width: 70%;
        }
      }
      &__title {
        font-size: 24px;
        font-family: "AvenirBlack";
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 25px 0 0;
      }
      &__info {
        margin-bottom: 20px;
      }
      &__link {
        color: #6e6e6e;
        display: block;
        font-size: 12px;
        margin-top: 10px;
        letter-spacing: 0;
        font-family: "AvenirRegular";
        text-transform: capitalize;
        text-decoration: underline;
      }
    }
  }
  .home-last-collections {
    margin-bottom: 40px;
    text-align: center;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
    .collection-one, .collection-two {
      img {
        display: block;
        height: auto;
        width: 100%;
      }
      &__img-container {
       margin-bottom: 30px;
      }
      &__info {
        margin-bottom: 20px;
      }
      &__title {
       font-size: 18px;
       white-space: nowrap;
       letter-spacing: 1px;
       font-family: "AvenirBlack";
       text-transform: uppercase;
      }
      &__description {
       color: #6e6e6e;
       font-size: 15px;
       max-width: 535px;
       line-height: 1.5;
       text-transform: none;
       margin: 15px auto 32px;
       font-family: "FrankRuhlLibreRegular";
      }
      &__link {
        color: #6e6e6e;
        display: block;
        font-size: 12px;
        margin-top: 0;
        letter-spacing: 0;
        font-family: "AvenirRegular";
        text-transform: capitalize;
        text-decoration: underline;
      }
    }
  }
  .home-instagram-gallery {
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 60px 0;
    text-align: center;
    &__title {
      font-family: "AvenirBlack";
      font-size: 24px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 3px;
      line-height: 1.08;
      margin: 0;
      text-align: center;
      white-space: normal;
    }
    &__link {
      color: #6e6e6e;
      display: block;
      font-family: "AvenirRegular";
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.86;
      margin: 20px 0 40px;
      text-align: center;
      text-transform: capitalize;
      text-decoration: underline;
    }
    &__image {
      display: block;
      height: auto;
      max-width: 100%;
      width: 100%;
    }
    &__img-container {
      padding: 0;
      margin: 0;
    }
    .isLastImage {
      display: block;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
