.product-page {
  .breadcrumb {
    display: block;
    @include media-breakpoint-down(md) {
      display: none;
    }
    background-color: transparent;
    margin-bottom: 0;
    padding: 8px 0;
    &-item {
      font-family: "FrankRuhlLibre-Regular";
      font-size: 11px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.36;
      letter-spacing: .3px;
      text-align: left;
      color: #6e6e6e;
      text-transform: capitalize;
    }
    &-item .active {
      color: #6e6e6e;
    }
    &-link {
      color: #6e6e6e;
      text-decoration: none;
    }
    &-link:hover {
      color: #6e6e6e;
      text-decoration: none;
    }
  }
  .page-header {
    border: none;
    display: block;
    @include media-breakpoint-down(md) {
      display: none;
    }
    .title {
      color: $black;
      font-family: "Avenir Next Cyr W00 Medium",helvetica,sans-serif;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 1.4px;
      line-height: normal;
      margin: 0 0 12px;
      text-align: center;
      text-transform: uppercase;
    }
    .price {
      color: #6e6e6e;
      display: block;
      font-family: "FrankRuhlLibre-Regular";
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: .4px;
      line-height: 1;
      margin-top: 26px;
      text-align: center;
      &--compared {
        text-decoration: line-through;
      }
      &--final {
        color: #b2292e;
        margin-left: 7px;
      }
    }
  }
  // Header
  .isMobile {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  .isDesktop {
    display: block;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  // Product description toggle
  .product-description {
    .accordion {
      .card {
        .card-header:first-child {
          &__title {
            border: none;
          }
        }
        .card-header:last-child {
          &__title {
            border: none;
          }
        }
        .card-header {
          &__title {
            color: $black;
            color: #6e6e6e;
            text-align: center;
            width: 100%;
            button.btn.collapsed {
              border-bottom: 1px solid #e3e3e3;
            }
            button.btn {
              border: none;
              color: $black;
              display: block;
              font-family: "Avenir Next Cyr W00 Medium",helvetica,sans-serif;
              font-size: 12px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 1.2px;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              padding: 15px 2px;
              position: relative;
              width: 100%;
            }
            button.btn:hover {
              text-decoration: none;
            }
            button.btn::after {
              content: '-';
              bottom: 0;
              display: block;
              font-size: 15px;
              height: 100%;
              margin: 0;
              padding: 12px 0px;
              position: absolute;
              right: 0;
              top: 0;
              width: 34px;
            }
            button.btn.collapsed::after {
              content: '+';
            }
          }
        }
        #headingFour.card-header {
          border: none;
        }
        .card-body {
          border-bottom: 1px solid #e3e3e3;
          color: #6e6e6e;
          font-family: "Avenir Next Cyr W00 Regular",helvetica,sans-serif;
          font-size: 12px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          letter-spacing: .3px;
          line-height: 2;
          margin-bottom: 0;
          padding: 20px 0;
          text-align: center;
          .text-link, .text-link:hover {
            color: #6e6e6e;
            text-decoration: none;
          }
          .card-list {
            list-style-position: outside;
            margin-top: 12px;
            padding: 0;
            padding-left: 20px;
            text-align: left;
          }
        }
      }
      .card:last-child {
        button.btn.collapsed {
          border: none;
        }
        .card-body {
          border: none;
        }
      }
    }
  }
  .product-slider {
    .images {
      &-container {
        overflow: hidden;
      }
      &-list {
        padding: 0;
        list-style: none;
        margin: 0;
      }
      &-item {
        display: block;
        margin: 0;
        padding: 0;
      }
      &-img {
        display: block;
        height: auto;
        margin: 0 auto;
        width: 93px;
      }
      &-container.mobile {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
    .main-image {
      &__img {
        height: auto;
        margin: -40px auto 0;
        width: 100%;
        max-width: 660px;
      }
      &.isDesktop {
        text-align: center;
      }
    }
    .slider {
      padding: 25px 0;
      position: relative;
      .products-slider__link {
        background-color: $white;
        display: block;
        height: 25px;
        position: absolute;
        width: 100%;
        z-index: 20;
      }
      .prev::before {
        content: '';
        background-image: url('https://cdn.kometia-static.com/true-religion/images/arrow-up.png?v=1547594918');
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 30px;
      }
      .next::before {
        content: '';
        background-image: url('https://cdn.kometia-static.com/true-religion/images/arrow-down.png?v=1547594918');
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 30px;
      }
      .products-slider__link.prev {
        right: 0;
        top: 0;
        left: 0;
      }
      .products-slider__link.next {
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  // Product Data
  .product-data {
    text-align: center;

    .thumbnails-color {
      display: block;
      list-style: none;
      padding: 0 80px;
      input {
        display: none;
      }
      img {
        border: 1px solid transparent;
      }
      input[type="radio"]:checked+label{
        img {
          border: 1px solid $black;
        }
      }
    }
    .thumbnails-image {
      background-color: $white;
      height: 52px;
      width: 38px;
    }
    .thumbnails-permalink {
      background-color: $white;
      border: 1px solid $white;
      display: inline-block;
      margin: 4px;
      padding: 3px;
    }
    .thumbnails-permalink.checkedDefault {
      label img {
        border: 1px solid $black;
      }
    }
    .slick-list.draggable {
      max-height: 580px;
    }
    .thumbnails-permalink.active {
      border: 1px solid $black;
    }
    .color-selected {
      color: #000;
      font-size: 12px;
      font-family: "FrankRuhlLibre-Regular";
      letter-spacing: .3px;
      line-height: 2.17;
      margin: 15px 0 0;
      text-align: center;
      text-transform: capitalize;
    }
    .size-options {
      display: block;
      list-style: none;
      padding: 0;
      input {
        display: none;
        cursor: pointer;
        pointer-events: auto;
      }
      input.disabled {
        cursor: not-allowed;
        display: none;
        pointer-events: none;
      }
      input[type="radio"]:checked+label{
        border-bottom: 1px solid $black;
      }
      input[type="radio"]:checked+label.disabled{
        border-bottom-color: transparent;
      }
      label {
        border: none;
        font-family: "FrankRuhlLibre-Regular";
        font-size: 12px;
        font-weight: normal;
        letter-spacing: .3px;
        text-align: center;
        color: #000;
        height: 30px;
        line-height: 2.5;
        padding: 0!important;
        text-transform: uppercase;
        min-width: 20px;
        margin: 0 10px;
      }
      label.disabled {
        background-image: repeating-linear-gradient(145deg,transparent,transparent 48%,#bcbcbc 54%,transparent 0,transparent);
        border-color: transparent;
        color: #bcbcbc;
        margin: 0 10px;
        min-width: 20px;
      }
      &__item {
        display: inline-block;
      }
    }
    .addToCart {
      .quantity-container {
        display: inline-block;
        height: 40px;
        margin: 20px 0;
        width: 12.7%;
      }
      select.qty {
        border: 1px solid #000;
        font-family: "FrankRuhlLibre-Regular";
        font-size: 15px;
        height: 40px;
        margin-left: 0!important;
        padding: .7em .3em;
        text-align: center;
        text-align-last: center;
        width: 100%;
        -webkit-appearance: menulist!important;
      }
      .addToCart-js {
        background: #bfbfbf!important;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        color: #fff;
        cursor: not-allowed;
        display: inline-block;
        font-size: 15px;
        height: 40px;
        letter-spacing: .1em;
        margin: 20px 0 20px 6px;
        opacity: 1;
        padding: 0;
        pointer-events: none;
        text-transform: none;
        width: 85%;
        &.active {
          opacity: 1;
          background: #000000!important;
          cursor: pointer;
          pointer-events: auto;
        }
        &.disabled {
          opacity: .6;
          background-color: #333333 !important;
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }
    .view-full-product {
      a.more-details {
        color: #6e6e6e;
        font-family: "Avenir Next Cyr W00 Medium", helvetica, sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .3px;
        line-height: 1.83;
        text-align: left;
        text-decoration: underline;
      }
    }
  }

  // Related products
  .related-products {
    margin: 40px 0;
    @include media-breakpoint-down(md) {
      margin: 20px 0;
    }
    &__title {
      font: 30px "Avenir Next Cyr W00 Medium",helvetica,sans-serif;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 1.8px;
      color: $black;
      margin-bottom: 70px;
      text-align: center;
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
    }
  }
}
