.product-page {
  .breadcrumb {
    display: block;
    @include media-breakpoint-down(md) {
      display: none;
    }
    background-color: transparent;
    margin-bottom: 0;
    padding: 8px 0;
    &-item {
      font-family: "FrankRuhlLibre-Regular";
      font-size: 11px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.36;
      letter-spacing: .3px;
      text-align: left;
      color: #6e6e6e;
      text-transform: capitalize;
    }
    &-item .active {
      color: #6e6e6e;
    }
    &-link {
      color: #6e6e6e;
      text-decoration: none;
    }
    &-link:hover {
      color: #6e6e6e;
      text-decoration: none;
    }
  }
  .page-header {
    display: block;
    background-color: yellow;
    @include media-breakpoint-down(md) {
      display: none;
      background-color: red;
    }
    .title {
      color: $black;
      font-family: "Avenir Next Cyr W00 Medium",helvetica,sans-serif;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 1.4px;
      line-height: normal;
      margin: 0 0 12px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .page-header.isMobile {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
      background-color: orange;
    }
    .title {
      background-color: pink;
    }
  }
  .related-products {
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
}
