a {
  color: $black;
}
a:hover, a:focus {
  color: #999999;
}
a.btn, .btn {
  border-radius: 0;;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
a.btn.btn-primary, .btn.btn-primary, .btn-primary {
  color: $white;
  background: $black;
  background-color: $black;
  border-color: $black;
}
a.btn.disabled, .btn.disabled {
  pointer-events: none;
}
a.btn.btn-primary:hover, .btn.btn-primary:hover, .btn-primary:hover,
a.btn.btn-primary:focus, .btn.btn-primary:focus, .btn-primary:focus,
a.btn.btn-primary:active, .btn.btn-primary:active, .btn-primary:active {
  color: $white;
  background: $black;
  background-color: $black;
  border-color: $black;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary.dropdown-toggle {
  color: $white;
  background: $gray-800;
  background-color: $gray-800;
  border-color: $gray-800;
}
a.btn-lg, .btn-lg {
  height: auto;
  line-height: 1;
  padding: 1.4rem .6rem;
}
.btn-link {
}
.btn-link:hover {
}
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {

}
