// Vars from Config file
$brand_main_color: "{{ settings.brand_main_color }}";
$body_font_size: "{{ settings.body_font_size }}";
$body_font: "{{ settings.body_font | remove('Google+') | replace({'+': ' '}) }}";
$body_font_type: "{{ settings.body_font_type }}";
$body_font_weight: "{{ settings.body_font_weight }}";
$discount_text_color: "{{ settings.discount_text_color }}";
$discount_bg_color: "{{ settings.discount_bg_color }}";
$filter_color_azul: "{{ settings.filter_color_azul }}";
$filter_color_blanco: "{{ settings.filter_color_blanco }}";
$filter_color_negro: "{{ settings.filter_color_negro }}";
$filter_color_multicolor: "{{ settings.filter_color_multicolor }}";
$filter_color_rojo: "{{ settings.filter_color_rojo }}";
$filter_color_gris: "{{ settings.filter_color_gris }}";
$filter_color_verde: "{{ settings.filter_color_verde }}";
$filter_color_naranja: "{{ settings.filter_color_naranja }}";
$filter_color_beige: "{{ settings.filter_color_beige }}";
$filter_color_morado: "{{ settings.filter_color_morado }}";
$filter_color_rosa: "{{ settings.filter_color_rosa }}";
$filter_color_amarillo: "{{ settings.filter_color_amarillo }}";
