// Vars from Config file
$brand_main_color: "{{ settings.brand_main_color }}";
$body_font_size: "{{ settings.body_font_size }}";
$body_font: "{{ settings.body_font | remove('Google+') | replace({'+': ' '}) }}";
$body_font_type: "{{ settings.body_font_type }}";
$body_font_weight: "{{ settings.body_font_weight }}";
