html {
  overflow-y: scroll;
}
// Reset Bootstrap elements
a {
}
a:hover {
}
a:focus {
}
a,
button {
  transition: all .3s ease-in-out;
}
a:active,
a:focus {
  outline: none;
}
:focus {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
::selection {
  background: $black;
  color: $white;
  text-shadow: none;
}
