@import 'fonts';

// Avenir
// AvenirNext
// AvenirBlack
// AvenirBook
// Avenir-Roman

// Avenir Next Cyr W00 Regular
// Avenir Next Cyr W00 Medium
// Avenir Next Cyr W00 Demi
// Avenir Next Cyr W00 Light
// Avenir Next Cyr W00 Bold
// Avenir Next Cyr W00 Black

// FrankRuhlLibre
// FrankRuhlLibre-Regular
// FrankRuhlLibreRegular

// Didot W01 Italic
// DIN Next W01 Medium
// DIN Next W01 Regular

body {
  font-family: "Avenir Next Cyr W00 Regular", helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .3px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

}

h1, .h1 {

}
