.discount-banner {
  color: $discount_text_color;
  background-color: $discount_bg_color;
  text-align: center;
  .discount-banner-js {
    display: none;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    z-index: 99;
    img {
      width: 25px;
      height: 25px;
    }
  }
  // First step
  .first-step {
    display: none;
    div.block-two {
      .btn-get-discount {
        text-transform: initial;
      }
    }
    &.active {
      display: block;
    }
  }
  // Second step
  .second-step {
    display: none;
    div.block-one {
      display: block;
    }
    &.active {
      display: block;
    }
  }
  // Third step
  .third-step {
    display: none;
    &.active {
      display: block;
    }
    div.block-one {
      display: block;
    }
  }

  div.block-one {
    display: none;
    padding: 10px 0;
    &active {
      display: block;
    }
  }

  .discount {
    &__title, &__code-title, &__code-tag {
      font-family: "Avenir Next Cyr W00 Demi", helvetica, arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
    }
    &__intro {
      font-size: 14px;
    }
    &__subtitle, &__code-subtitle {
      color: $white;
      font-family: "Avenir Next Cyr W00 Demi", helvetica, arial, sans-serif;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: .05em;
      margin: 4px 0 10px;
      padding: 0;
      text-transform: uppercase;
      @include media-breakpoint-down(sm) {
        padding: 0 2em;
      }
    }
    &__code-subtitle {
      padding: 0 .5em;
    }
    &__email {
      color: $black;
      display: inline-block;
      height: 46px;
      margin: 0;
      min-width: 220px;
      padding: 12px;
      font-size: 12px;
      border: 0;
      @include media-breakpoint-down(sm) {
        margin-bottom: 12px;
      }
    }
  }
  .btn-get-discount {
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 0;
    font-weight: 400;
    font-size: 14px;
    min-height: 45px;
    letter-spacing: .1em;
    margin-left: 14px;
    padding: 12px 20px;
    text-transform: initial;
  }
  .btn-get-discount:hover, .btn-get-discount:focus {
    color: #c3c3c3;
    border: 1px solid #c3c3c3;
  }
}
