body.has-mobile-menu {
  .mobileMenu {
    display: block;
    opacity: 1;
    right: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    animation: c .2s ease forwards;
  }
}
body.has-mobile-menu .overlay {
  background-color: rgba(0,0,0,.6);
  bottom: 0;
  display: block;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
body .overlay {
  background-color: rgba(255,255,255,0);
  display: none;
  opacity: 0;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.mobileMenu {
  background: $white;
  border-top: 1px solid #e3e3e3;
  display: block;
  min-width: 280px;
  max-height: 100vh;
  min-height: auto;
  overflow: auto;
  padding: 0;
  position: fixed;
  right: -100%;
  top: 0;
  width: 280px;
  z-index: 99;
  -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.25);
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.mobileMenu {
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    li {
      display: block;
      position: relative;
      a {
        text-decoration: none;
      }
      a:hover, a:focus {
        text-decoration: none;
      }
    }
  }
  .navigation {
    .mobile_nav_btn {
    }
    &__item {
    }
    &__link-title, &__link {
      background-color: #f4f4f4;
      color: $black;
      display: block;
      font-family: "Avenir Next Cyr W00 Medium", helvetica,arial, sans-serif;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: .4px;
      line-height: 2.17;
      padding: 10px 10px 10px 20px;
    }
    &__link-toggle {
      cursor: pointer;
      display: block;
      line-height: 2.17;
      position: absolute;
      text-align: right;
      top: 0;
      right: 0;
      width: 25%;
      z-index: 10;
      font-weight: 500;
      line-height: 2.17;
      letter-spacing: 1.2px;
      padding-top: 24px;
      padding-bottom: 25px;
      padding-right: 25px;
      font-size: 12px;
      font-family: "Avenir Next Cyr W00 Medium", helvetica, arial, sans-serif;
      font-style: normal;
      font-stretch: normal;
    }
    &__link-toggle::after {
      content: url('https://storage.kometia.test/store1/images/plus.png?v=1544216531');
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 30px;
    }
    &__link-toggle.on::after {
      content: url('https://storage.kometia.test/store1/images/minus.png?v=1544216531');
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 30px;
    }
    > .navigation--has-children {
      border-top: 1px solid rgba(227,227,227,.5);
    }
    &--has-children {
      > .navigation__link-title {
        padding-left: 20px;
        font-weight: 500;
        line-height: 2.17;
        letter-spacing: 1.2px;
        padding-top: 24px;
        padding-bottom: 25px;
      }
    }
    .subnav {
      display: none;
      li {
      }
      .navigation--has-children .navigation__link-toggle {
        display: none;
      }
      .navigation__link {
        background-color: #f4f4f4;
      }
      .navigation__item.navigation--has-children, .navigation__link-title  {
        color: #6e6e6e;
        font-size: 15px;
        font-family: "FrankRuhlLibre-Regular";
        text-transform: capitalize;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
      }
      .subnav {
        display: block;
      }
    }
    > .navigation__item > .navigation__link-title {
      color: #b2292e;
      border-bottom: 1px solid rgba(227,227,227,.5);
      background-color: $white;
      font-weight: 500;
      line-height: 2.17;
      letter-spacing: 1.2px;
      padding-top: 24px;
      padding-bottom: 25px;
      font-size: 12px;
      font-family: "Avenir Next Cyr W00 Medium", helvetica, arial, sans-serif;
      font-style: normal;
      font-stretch: normal;
      text-transform: uppercase;
    }
  }
}

