body.products-page.hasModal.modal-open {
  .ajax-cart-result {
    display: none;
  }
  .modal-content .modal-header .title-modal {
    display: none;
  }
  .modal-dialog.modal-dialog-centered.ProductAddedToCart {
    align-items: flex-start;
    top: 40px;
    width: 300px;
      .modal-content .modal-header .title-modal {
        display: block;
      }
    .ajax-cart-result {
      display: block;
    }
    .modal-header {
      padding-bottom: 5px;
      .title-modal {
        display: block;
        font-size: 15px;
        padding: .5rem 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }
    }
    .modal-content {
      width: 300px;
      height: auto;
    }
    .modal-header::after {
      content: '';
      background-color: #dedddd;
      bottom: 0px;
      display: block;
      height: 1px;
      left: 20px;
      position: absolute;
      right: 20px;
      z-index: 100;
    }
    .modal-body {
      text-align: center;
    }
  }
  // Minicart Ajax
  .minicart-ajax {
    &__title {
      color: #444444;
      font-size: 12px;
      line-height: 1.2;
      margin: 14px 0 18px;
      text-transform: uppercase;
    }
    &__thumbnail {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    &__image {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 100px;
      width: 100%;
    }
    &__description {
      margin-bottom: 20px;
    }
    &__text {
      text-transform: capitalize;
    }
    &__footer {
      border-top: 1px solid #dedddd;
      padding-top: 20px;
    }
    &__shopping-cart {
      margin-bottom: 12px;
    }
    &__warning-text {
      color: #db5353;
      font-size: 12px;
      margin: 0 0 20px;
      padding: 0 10px;
    }
    &__shopping-keep {
      margin-bottom: 12px;
    }
    &--btn {
      font-size: 15px;
      padding: 12px 0;
    }
    &--link {
      color: #999999;
      text-decoration: underline;
    }
    &--link:hover {
      color: #000000;
      text-decoration: underline;
    }
  }
}
