nav.navigation {
  background-color: $white;
  padding-top: 20px;
  -webkit-transition: padding-top .2s ease-out;
  -moz-transition: padding-top .2s ease-out;
  -o-transition: padding-top .2s ease-out;
  transition: padding-top .2s ease-out;
  @include media-breakpoint-down(md) {
    border-bottom: 1px solid #eeeeee;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .left-module {
    .logo {
      text-align: center;
      &__link {
        background-color: goldenrod;
      }
      &__img-desktop {
        display:  none;
      }
    }
    .icon-search {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
        padding: 6px 0;
      }
    }
    .icon-search:hover {
      cursor: pointer;
    }
  }
  .right-module {
    .cart-mobile {
      margin-top: 20px;
      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
      .icon-search {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .icon-shopping-bag {
        @include media-breakpoint-down(md) {
          margin-left: 0;
        }
      }
    }
    .icon-toggle-menu {
      display: none;
      @include media-breakpoint-down(md) {
        display: inline-block;
        float: right;
        margin-left: 14px;
        margin-top: 2px;
      }
      .mobile_nav_btn {
        cursor: pointer;
        display: block;
        width: 25px;
        height: 25px;
        .line-one {
          background-color: #222222;
          width: 100%;
          height: 1px;
          display: block;
          padding: 0;
          margin: 4px 0 8px;
        }
      }
    }
  }
  .mega-container {
    .logo {
      text-align: center;
      &__link {
      }
      &__img-mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display:  inline-block;
        }
      }
      &__img-desktop {
        display: none;
        @include media-breakpoint-up(lg) {
          display:  inline-block;
        }
      }
    }
  }
  // Sticked
  &.stick {
    padding-bottom: 12px;
    position: fixed;
    top: 0;
    -webkit-transition: padding-top .2s ease-out;
    -moz-transition: padding-top .2s ease-out;
    -o-transition: padding-top .2s ease-out;
    transition: padding-top .2s ease-out;
    width: 100%;
    z-index: 10;
    @include media-breakpoint-down(lg) {
      padding-top: 0;
      padding-bottom: 0;
    }
    .left-module {
      .logo {
        text-align: left;
        margin-top: 0;
        @include media-breakpoint-up(lg) {

        }
        &__img-desktop {
          display:  none;
          @include media-breakpoint-up(lg) {
            display: inline-block;
            height: 42px;
            margin: 0;
            max-width: 100%;
            width: 58px;
          }
        }
      }
      .icon-search {
        display: none;
        @include media-breakpoint-down(md) {
          display: block;
          padding: 20px 0;
        }
      }
    }
    .right-module {
      .cart-mobile {
        padding: 14px 0;
        @include media-breakpoint-up(lg) {
          margin-top: 8px;
          padding: 0;
        }
      }
    }
    .mega-container {
      .logo {
        text-align: center;
        @include media-breakpoint-down(md) {
          padding: 14px 0;
        }
        &__link {
        }
        &__img-mobile {
          display: none;
          @include media-breakpoint-down(md) {
            display: inline-block;
          }
        }
        &__img-desktop {
          display:  none;
        }
      }
    }
    .left-module {
      &__logo {
        display:  inline-block;
        height: 42px;
        width: 50px;
        margin-top: 0;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }
  .left-module {
    &__logo {
      display:  none;
    }
  }
  .logo {
    text-align: center;
    &__link {
      background-color: $white;
    }
    &__img-mobile {
      display:  none;
      @include media-breakpoint-down(md) {
        display:  inline-block;
        margin: 0;
        height: auto;
        width: 45px;
      }
    }
    &__img-desktop {
      display: none;
      height: auto;
      margin: 20px 0;
      max-width: 214px;
      width: 214px;
      @include media-breakpoint-up(lg) {
        display: inline-block;
      }
    }
  }


  // Cart
  .cart-mobile {
    text-align: right;
    .icon-search {
      display: inline-block;
      &__block {
        display: block;
      }
      &__img {
        height: auto;
        max-width: 100%;
        width: 29px;
        height: auto;
      }
    }
    .icon-shopping-bag {
      display: inline-block;
      margin-left: 10px;
      &__block {
        display: block;
        position: relative;
      }
      &__img {
        display: inline-block;
        height: auto;
        max-width: 100%;
        width: 28px;
        height: auto;
      }
      .cart-qty {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 29px;
        text-align: center;
        height: auto;
        padding: 11px 0;
      }
      .empty {
        display: inline-block;
      }
      .filled {
        display: none;
      }
    }
    .icon-shopping-bag.active {
      .cart-qty {
        color: $white;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 29px;
        text-align: center;
        height: auto;
        padding: 11px 0;
      }
      .empty {
        display: none;
      }
      .filled {
        display: inline-block;
      }
    }
  }
}
