.topbanner {
  > .container {
    height: 100%;
  }
  color: $white;
  height: 40px;
  padding: 6px 0;
  .flags {
    &__img {
      display: table-cell;
      float: left;
      height: 100%;
      margin-right: 12px !important;
      vertical-align: middle;
      width: auto;
      padding: 1px;
    }
    img {
      border: 1px solid #fff;
      display: block;
      max-width: 100%;
      height: auto;
      width: 42px;
    }
    &__currency {
      display: table-cell;
      height: 100%;
      padding-top: 2px;
      vertical-align: middle;
    }
  }
  .message {
    &__text {
      color: #dfdfdf;
      font-family: "FrankRuhlLibre";
      font-size: 12px;
      font-stretch: normal;
      letter-spacing: .3px;
      line-height: 2.17;
      margin: 0;
      text-align: center;
      padding: 1px!important;
      @include media-breakpoint-up(xl) {
        padding: 0;
        font-size: 15px;
        letter-spacing: .8px;
        line-height: 1.73;
      }
    }
    &__link {
      color: #dfdfdf;
      display: inline-block;
    }
    &__link:hover {
      text-decoration: none;
    }
  }
  .access {
    list-style: none;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    &__item {
      display: table;
      height: 28px;
      text-transform: uppercase;
      position: relative;
    }
    &__item::after {
      bottom: auto;
      content: '\f107';
      color: #dfdfdf;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      position: absolute;
      right: -14px;
      top: 5px;
      z-index: 2;
    }
    &__link {
      color: #dfdfdf;
    }
    &__link:hover, &__link:focus {
      text-decoration: none;
    }
    &--signin {
      display: table-cell;
      position: relative;
      vertical-align: middle;
    }
    &--register {
      display: table-cell;
      position: relative;
      vertical-align: middle;
    }
    &--separator {
      display: table-cell;
      padding: 0 3px;
      position: relative;
      vertical-align: middle;
    }
    .login-window {
      background: #fff;
      box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
      display: none;
      height: auto;
      margin-top: 15px;
      max-width: 100%;
      padding: 10px;
      position: absolute;
      right: 72px;
      width: 235px;
      z-index: 99;
      &__container {
        text-align: center;
      }
      &__link {
        color: $black;
        display: block;
        font-size: 11px;
        letter-spacing: 0.5px;
        padding: 6px;
        text-transform: uppercase;
        width: 100%;
      }
      &__link:hover {
        text-decoration: none;
      }
      &--btn {
        background: $black;
        border-radius: 0;
        color: $white;
        text-align: center;
        padding: 14px 0;
        margin-top: 10px;
        text-transform: uppercase;
        width: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
      &--btn:hover {
        background-color: $gray-900;
      }
    }
  }
  .findstore {
    color: #dfdfdf;
    height: 100%;
    list-style: none;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    position: relative;
    &__item {
      display: table;
      height: 28px;
      text-transform: uppercase;
    }
    &__link {
      color: #dfdfdf;
      display: table-cell;
      vertical-align: middle;
    }
    &__link:hover, &__link:focus {
      text-decoration: none;
    }
  }
}
