{% extends 'layout.twig' %}
{% block body_class %}products-page hasModal{% endblock body_class %}
{% block body %}
  {% include '_header-products.twig' with { 'title': category.title, 'type': 'category','isCollection': false } %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <script type="text/javascript">
          var ProductsObj = [];
        </script>
      {% if products.count > 0 %}
        <div class="row symmetrical-container">
        {% for product in products %}
          <div class="col-xs-6 col-md-4 symmetrical">
            {% include '_product-card.twig' %}
          </div>
        {% endfor %}
          <div class="col-xs-12">
            {% include '_pagination.twig' %}
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2 class="products-title">¡Falta poco!</h2>
            <p class="products-text">Todavía no existen Productos, una vez que empieces a crearlos aparecerán aquí.</p>
            <p><a class="btn btn-primary" href="/admin/products">Gestionar Productos</a> <a class="btn btn-primary" href="/admin/collections">Gestionar Colecciones</a></p>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block body_js %}
{{ parent() }}
{% include '_product-card-js.twig' %}
{% endblock %}
