{% extends 'layout.twig' %}
{% block body_class %}products-page hasModal{% endblock body_class %}
{% block body %}

{% set name = collection.permalink %}
{% set title = collection.title %}
{% set custom = false %}
{% set maxcollections = settings.maxcollections %}
{% set type_colors = [] %}
{% set type_sizes = [] %}
{% set type_inseams = [] %}
{% set type_silhouettes = [] %}
{% set type_fits = [] %}
{% set type_rises = [] %}
{% set type_washs = [] %}
{% set type_pocket_flaps = [] %}
´
{% set notkeep = false %}
{% for i in 1..maxcollections if notkeep == false %}
  {% if name == settings['collection_filter_'~i~'_name'] %}
    {% set custom = true %}
    {% if settings['collection_filter_'~i~'_colors'] is not empty %}
      {% set type_colors = type_colors|merge( settings['collection_filter_'~i~'_colors']|lower|split(',') ) %}
    {% endif %}
    {% if settings['collection_filter_'~i~'_sizes'] is not empty %}
      {% set type_sizes = type_sizes|merge( settings['collection_filter_'~i~'_sizes']|lower|split(',') ) %}
    {% endif %}
    {% if settings['collection_filter_'~i~'_inseams'] is not empty %}
      {% set type_inseams = type_inseams|merge( settings['collection_filter_'~i~'_inseams']|lower|split(',') ) %}
    {% endif %}
    {% if settings['collection_filter_'~i~'_silhouettes'] is not empty %}
      {% set type_silhouettes = type_silhouettes|merge( settings['collection_filter_'~i~'_silhouettes']|lower|split(',') ) %}
    {% endif %}
    {% if settings['collection_filter_'~i~'_fits'] is not empty %}
      {% set type_fits = type_fits|merge( settings['collection_filter_'~i~'_fits']|lower|split(',') ) %}
    {% endif %}
    {% if settings['collection_filter_'~i~'_rises'] is not empty %}
      {% set type_rises = type_rises|merge( settings['collection_filter_'~i~'_rises']|lower|split(',') ) %}
    {% endif %}
    {% if settings['collection_filter_'~i~'_washs'] is not empty %}
      {% set type_washs = type_washs|merge( settings['collection_filter_'~i~'_washs']|lower|split(',') ) %}
    {% endif %}
    {% if settings['collection_filter_'~i~'_pocket_flaps'] is not empty %}
      {% set type_pocket_flaps = type_pocket_flaps|merge( settings['collection_filter_'~i~'_pocket_flaps']|lower|split(',') ) %}
    {% endif %}
    {% set notkeep = true %}
  {% endif %}
{% endfor %}

{% set options = { 'name':name,'title':title,'custom':custom,'maxcollections':maxcollections,'type_colors':type_colors,'type_sizes':type_sizes,'type_inseams':type_inseams,'type_silhouettes':type_silhouettes,'type_fits':type_fits,'type_rises':type_rises,'type_washs':type_washs,'type_pocket_flaps':type_pocket_flaps } %}

{% if custom %}
  {% include '_header-products.twig' with { 'title': title, 'type': 'collection','isCollection': true, 'options': options, 'useFilters': true } %}
{% else %}
  {% include '_header-products.twig' with { 'title': title, 'type': 'collection','isCollection': true, 'useFilters': true } %}
{% endif %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <script type="text/javascript">
          var ProductsObj = [];
        </script>
      {% if products.count > 0 %}
        <div class="row symmetrical-container">
        {% for product in products %}
          <div class="col-xs-6 col-md-4 symmetrical">
            {% include '_product-card.twig' %}
          </div>
        {% endfor %}
          <div class="col-xs-12">
            {% include '_pagination.twig' %}
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-xs-12 text-center no-results">
            <h2 class="products-title space-top space-bottom">No hay productos</h2>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block body_js %}
{{ parent() }}
{% include '_product-card-js.twig' %}
{% include '_filter-products-js.twig' %}
{% endblock %}
