{% extends 'layout.twig' %}

{% block body_class %}contactus-page{% endblock body_class %}
{% block body %}
<div class="container page">
  <div class="row">
    <div class="col-xs-12">
      <div class="page__header">
        <h1 class="page__title">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 page__content text-center">
      {{ page.content }}
      <p>Unable to find an answer on our FAQ page? Here are three quick and easy methods of reaching our Customer Support Team.</p>
      <p>Monday - Friday: 5:00am - 6:00pm PT</p>
      <p>ATTENTION SHOPPERS! Due to high volume you might experience a delay and your order may arrive in MULTIPLE shipments. We apologize in advance for the inconvenience.</p>
      <div class="icons-block">
        <div class="row">
          <div class="col-12 col-sm-4">
          <img src="https://cdn.kometia-static.com/true-religion/images/contact-phone.png?v=1548179903" alt=""><br/>
          1-844-TRU-RLGN (844-878-7546)
          </div>
          <div class="col-12 col-sm-4">
          <img src="https://cdn.kometia-static.com/true-religion/images/contact-mail.png?v=1548179903" alt=""><br/>
          1888 Rosecrans Ave
          Manhattan Beach, CA 90266
          cs@truereligion.com
          </div>
          <div class="col-12 col-sm-4">
          <img src="https://cdn.kometia-static.com/true-religion/images/contact-chat.png?v=1548179902" alt=""><br/>
          Live Chat
          CHAT NOW
          </div>
        </div>
      </div>
      <div class="color-block">
        <div class="row">
          <div class="col-12">
            <h2>Customer Service - Holiday Hours</h2>
          </div>
        </div>
      </div>
      <h4>November:</h4>
      <p><strong>Black Friday</strong> 11/235am – 6pm PST</p>
      <p>Saturday 11/249am – 5pm PST</p>
      <p>Sunday 11/259am – 2pm PST</p>
      <p><strong>December:</strong></p>
      <p>Saturday 12/89am – 2pm PST</p>
      <p>Sunday 12/99am – 2pm PST</p>
      <p>Saturday 12/159am – 2pm PST</p>
      <p>Sunday 12/169am – 2pm PST</p>
      <p>Saturday 12/299am – 2pm PST</p>
      <p><strong>Customer Service Closures:</strong></p>
      <p>Thursday 11/22 (Thanksgiving Day)</p>
      <p>Tuesday 12/25 (Christmas Day)</p>
      <p>Tuesday 1/1/2018 (New Year’s Day)</p>
    </div>
  </div>
</div>
{% endblock %}
