<footer class="footer">
  <div class="container">
    <div class="row">

    </div>
  </div>
  <div class="legal">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-7">
          <p class="legal__text">{{ "now"|date("Y") }} True Religion Brand Jeans. Todos los Derechos Reservados.</p>
        </div>
        <div class="col-sm-6 col-md-5 legal__menu">
          <ul class="legal__list">
          {% for item in menus['footer-legal']%}
            <li class="legal__item"><a class="legal__link" href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

