<div class="home-last-collections">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">

        <div class="collection-one">
          <div class="collection-one__img-container">
            <img src="https://www.truereligion.com/on/demandware.static/-/Sites-TrueReligion-Library/default/dwc05f16d5/TRF_CR5022_H18_ImpatientSale_HP_E1_121218.jpg" alt="" class="collection-one__img">
          </div>
          <div class="collection-one__info">
            <h3 class="collection-one__title">Kids</h3>
            <p class="collection-one__description">AAAA</p>
            <p><a href="#" class="collection-one__link">bbb</a></p>
            <p><a href="#" class="collection-one__link">bbb</a></p>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6">

        <div class="collection-two">
          <div class="collection-two__img-container">
            <img src="https://www.truereligion.com/on/demandware.static/-/Sites-TrueReligion-Library/default/dwa524ee46/TRF_CR5022_H18_ImpatientSale_HP_E2_121218.jpg" alt="" class="collection-two__img">
          </div>
          <div class="collection-two__info">
            <h3 class="collection-two__title">Kids</h3>
            <p class="collection-two__description">AAAA</p>
            <p><a href="#" class="collection-two__link">bbb</a></p>
            <p><a href="#" class="collection-two__link">bbb</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
