<div class="main-menu">
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          One of three columns
        </div>
        <div class="col-md-3">
          One of three columns
        </div>
        <div class="col-md-6">
          One of three columns
        </div>
      </div>
    </div>
  </div>
  <div class="megamenu">
    aaa
  </div>
</div>
