<!-- Modal -->
<div class="modal" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title-modal"></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="https://cdn.kometia-static.com/true-religion/images/x-close.png?v=1546448196" alt="Cerrar"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-7">
              <div class="product-slider">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="product-data">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
