<nav class="navigation">

  <div class="main-nav">
    <div class="container">

      <div class="row align-items-start">
        <div class="col-3 col-sm-3 col-md-2 col-lg-2 left-module">
          <div class="logo">
            <a class="logo__link" href="/">
              <img class="logo__img-desktop" src="https://cdn.kometia-static.com/true-religion/images/logo_truereligion_mobile.png?v=1545332634" alt="Logo True Religion">
            </a>
          </div>
          <div class="icon-search">
            <span class="icon-search__block">
              <img src="https://cdn.kometia-static.com/true-religion/files/search.svg?v=1546278579" alt="" class="icon-search__img">
            </span>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-md-8 col-lg-8 mega-container">
          <div class="logo">
            <a href="/">
              <img class="logo__img-desktop" src="https://cdn.kometia-static.com/true-religion/images/logo_truereligion.png?v=1545332634" alt="Logo True Religion">
              <img class="logo__img-mobile" src="https://cdn.kometia-static.com/true-religion/images/logo_truereligion_mobile.png?v=1545332634" alt="Logo True Religion">
            </a>
          </div>
          {% include '_main-menu.twig' %}
        </div>

        <div class="col-3 col-sm-3 col-md-2 col-lg-2 right-module">
          <div class="cart-mobile">
            <div class="icon-search">
              <span class="icon-search__block">
                <img src="https://cdn.kometia-static.com/true-religion/files/search.svg?v=1546278579" alt="" class="icon-search__img">
              </span>
              <div class="searchframe">
                <span class="form__close"><img src="https://cdn.kometia-static.com/true-religion/images/delete-cross.png?v=1546448197" alt="close"></span>
                <form action="/buscar" method="get" class="searchframe__search">
                  <input type="hidden" name="type" value="product"/>
                  <input type="text" name="q" class="searchframe__input" placeholder="Buscar" autocomplete="on">
                  <input class="searchframe__submit" type="submit"/>
                </form>
              </div>
            </div>

            <div class="icon-shopping-bag {% if cart.total_items > 0 %}active{% endif %}">
              <span class="icon-shopping-bag">
                <a href="/carrito" class="cart-qty">
                {% if cart.total_items > 0 %}
                {{ cart.total_items }}
                {% endif %}
                </a>
                <img src="https://cdn.kometia-static.com/true-religion/images/header-re-bag.png?v=1545332634" alt="" class="icon-shopping-bag__img empty">
                <img src="https://cdn.kometia-static.com/true-religion/images/header-re-filled-bag.png?v=1545332634" alt="" class="icon-shopping-bag__img filled">
              </span>
            </div>

            <div class="icon-toggle-menu">
              <span class="mobile_nav_btn">
                <span class="line-one"></span>
                <span class="line-one"></span>
                <span class="line-one"></span>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-search">
    <span class="form__close"><img src="https://cdn.kometia-static.com/true-religion/images/delete-cross.png?v=1546448197" alt="close"></span>
    <form action="/buscar" method="get" class="search-form">
      <input type="hidden" name="type" value="product"/>
      <input type="text" name="q" class="search-form__input" placeholder="Buscar en True Religion" autocomplete="on">
      <input class="search-form__submit" type="submit"/>
    </form>
  </div>

</nav>
