<nav class="navigation">
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm">
        Search Stores
      </div>
      <div class="col-4 col-sm">
        <div class="logo">
          <img class="logo__img-desktop" src="https://storage.kometia.test/store1/images/logo_truereligion.png?v=1544490315" alt="Logo True Religion">
          <img class="logo__img-mobile" src="https://storage.kometia.test/store1/images/logo_truereligion_mobile.png?v=1544490314" alt="Logo True Religion">
        </div>
      </div>
      <div class="col-4 col-sm">
        Search Cart
      </div>
    </div>
  </div>
  <div class="subnav">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img class="subnav__img-mobile mobile_nav_btn" src="https://storage.kometia.test/store1/images/logo_truereligion_mobile.png?v=1544490314" alt="Logo True Religion">
        </div>
      </div>
    </div>
  </div>
</nav>
