<script type="text/javascript">
  $(function () {
    var ProductState = {
        name: null,
        color: null,
        images: null
    }
    var setProductState = function(obj) {
      if(typeof obj === 'object' && obj !== null){
        ProductState = obj;
      }
    }
    var $productSlider = $('.product-slider');
    var $productData = $('.product-data');
    var resetModal = function(){
      $productSlider.empty();
      $productData.empty();
    }
    var lowerCase = function(string){
      return string.toLowerCase();
    };
    var getClickedProductObject = function(id){
      return ProductsObj.find(function(element){
        return element.id === id
      });
    }
    var filterImagesByColor = function(color, images){
      var _color = color;
      var _images = images;
      if(_color == undefined) {
        return _images;
      }
      // filter
      return _images.filter(function(value, index) {
        return value.color == _color;
      });
    }
    var fillSliderContent = function() {
      var images = filterImagesByColor(ProductState.color, ProductState.images);
      console.log(images);
      var _html = '';
      _html += '<h2>'+ProductState.name+'</h2>';
      $productSlider.append(_html);
      return true;
    }
    var fillDataContent = function() {
      var _html = '';
      _html += '<h2>'+ProductState.name+'</h2>';
      $productData.append(_html);
      return true;
    }
    var getImagesByColor = function(colorList, ObjectImages) {
      var _listcolors = colorList;
      var images = [];
      if(_listcolors != null) {
        _listcolors.forEach(function(value, index){
          var _currentColor = '_'+value.replace(/\s/g,'-')+'_';
          ObjectImages.forEach(function(nextvalue){
          var _originalName = nextvalue.original_filename.toLowerCase();
            if(_originalName.includes(_currentColor)) {
              images.push({color:value.replace(/\s/g,'-'), url: nextvalue.url });
            }
          });
        });
      } else {
        ObjectImages.forEach(function(value){
          images.push({url: value.url });
        });
      }
      if(images.length === 0) {
        ObjectImages.forEach(function(value){
          images.push({url: value.url });
        });
      }
      return images;
    }
    var getColorsList = function(index, object) {
      var _index = index;
      if(_index === false) {
        return null;
      }
      listcolors = [];
      object.skus.forEach(function(element){
        element.modifiers.forEach(function(color, i){
          var _color = lowerCase(color);
          if(i == _index && listcolors.indexOf(_color) == -1) {
            listcolors.push(_color);
          }
        });
      });
      return listcolors;
    }
    var getColorIndex = function(ArrayModifiers) {
      var ArrayModifiers = ArrayModifiers.map(lowerCase);
      return ArrayModifiers.indexOf('color') != -1 ? ArrayModifiers.indexOf('color') : false;
    }
    var buildContentModal = function(color, object) {
      var _defaultColor = color;
      var index = getColorIndex(object.modifiers);
      var colorList = getColorsList(index, object);
      var images = getImagesByColor(colorList, object.images);
      var data = {
        name: object.name,
        color: _defaultColor,
        images: images
      }
      setProductState(data);
      fillSliderContent();
      fillDataContent();
    }
    $('.quick-view').on('click', function() {
      var ProductObj = {}
      var _id = $(this).data('product-id');
      var _defaultColor = $(this).data('product-color') === "" ? null : $(this).data('product-color');
      resetModal();
      var _currentProduct = getClickedProductObject(_id);
      buildContentModal(_defaultColor, _currentProduct);
    });
  });
</script>
