{# {{ '//cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.18/jquery.zoom.min.js' | script_tag }} #}
{# {{ 'sku-select/v1/sku-select.min.js' | global_asset_url | script_tag }} #}
{{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js' | script_tag }}

<script type="text/javascript">
  $(function() {
    console.log('product content js');
    var ProductState = {
        colorSelected: null
    }
    console.log('default color: '+defaultColor);
    var initSlider = function(){
      $('.slider').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        dots: false,
        infinite: false,
        arrows: true,
        centerMode: false,
        vertical: true,
        verticalSwiping: true,
        focusOnSelect: false,
        appendArrows: $(".images-list.slider"),
        prevArrow: '<a href="#" class="products-slider__link prev"></a>',
        nextArrow: '<a href="#" class="products-slider__link next"></a>'
      });
    }
    initSlider();

    var updateMainImage = function(url){
      var _newUrl = url;
      $('.main-images-container .main-image.isDesktop .main-image__img').attr('src', _newUrl);
      $('.main-images-container .main-image.isDesktop .main-image__img').data('zoom-image', _newUrl);
      return true;
    }
    var zoomConfig = {cursor: 'crosshair', zoomType: "inner" };

    var initZoom = function(){
      $('.zoomContainer').remove();
      var zoomImage = $('img#mainzoom');
      zoomImage.removeData('elevateZoom');
      $("#mainzoom").elevateZoom();
    }
    $("#mainzoom").elevateZoom();
    var setThumbnailImageLinks = function(){
      $('.images-container.isDesktop .images-list.slider .images-item .images-img').on('click', function(){
        var _this = $(this);
        var oldUrl = $('.main-images-container .main-image.isDesktop .main-image__img').attr('src').split('&')[0];
        var newUrl = _this.attr('src').split('&')[0];
        if(oldUrl != newUrl){
          updateMainImage(newUrl);
          initZoom();
        }
      });
    }
    setThumbnailImageLinks();

    var getHtmlThumbnailsImages = function(){
      var _color = defaultColor.toLowerCase();
      var _html = '';
      Object.keys(colorNames).map(function(value){
        var _isActive = value == _color ? 'checked' : '';
        var _checkedDefault = value == _color ? 'checkedDefault' : '';
        var currentColor = colors.find(function(v, i){
          return value == v.color;
        });
      _html += '<li class="thumbnails-permalink '+_checkedDefault+'"><input id="'+value+'" class="" type="radio" name="color" value="'+value+'" '+_isActive+'><label for="'+value+'"><img class="thumbnails-image" src="'+currentColor.url+'"></label></li>';
      });

    return _html;
    }

    var rebuildSlider = function(){
      var colorName = ProductState.colorSelected;
      var _html = '<ul class="images-list slider">';

      colors.map(function(value, _){
        if(value.color == colorName){
          _html += '<li class="images-item">';
          _html += '<img class="images-img" src="'+value.url[0]+'&w=94&h=140&fit=crop">';
          _html += '</li>';
        }
      });
         _html += '</ul>';
      $('.slider').slick('unslick');
      $('.images-container.isDesktop').empty();
      $('.images-container.isDesktop').append(_html);
      var mainImage = colors.find(function(value, _){
        return colorName == value.color;
      });
      updateMainImage(mainImage.url[0]);
      setTimeout(function(){
        initSlider();
      }, 500);
      setTimeout(function(){
        setThumbnailImageLinks();
        initZoom();
      }, 500);
    }
    var changeThumbnailOption = function(){
      $('.color-options-js input[type=radio]').on('change',function(){
        var _this = $(this).val();
        $('.thumbnails-permalink').removeClass('checkedDefault');
        if(ProductState.colorSelected != _this){
          ProductState.colorSelected = _this;
          rebuildSlider();
        }
      });
    }

    var initDefaultValues = function(){
      ProductState.colorSelected = defaultColor.toLowerCase();
      var _color = ProductState.colorSelected;
      var _html = '';
      var $dataContainer = $('.product-data');
         _html += '<div class="color-selected">'+defaultColor+'</div>';
         _html += '<ul class="thumbnails-color color-options-js">';
         _html += getHtmlThumbnailsImages();
         _html += '</ul>';
      $dataContainer.append(_html);
      changeThumbnailOption();
    }
    initDefaultValues();

    $(window).on('resize', function() {
    });
    $(window).on('load',function() {
      $("input[name=color]:checked").next('img').css({'border':'1px solid #000000'});
    });
  });
</script>
