<script type="text/javascript">
  $(function (){
    var formatMoney = function(price){
      var currency = $('script#app').data("currency");
      var _formatPrice = price /= 100;
      _formatPrice = _formatPrice.toFixed(2);
      _formatPrice = _formatPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

      return '$' + _formatPrice + ' ' + currency;
    }
    var ProductState = {
        name: null,
        permalink: null,
        color: null,
        colors: null,
        images: null,
        sku_default: null,
        skus: null,
        modifiers: null
    }
    var setProductState = function(obj) {
      if(typeof obj === 'object' && obj !== null){
        ProductState = obj;
      }
    }
    var $productSlider = $('.product-slider');
    var $productData = $('.product-data');
    var resetModal = function(){
      $productSlider.empty();
      $productData.empty();
    }
    var lowerCase = function(string){
      return string.toLowerCase();
    };
    var getClickedProductObject = function(id){
      return ProductsObj.find(function(element){
        return element.id === id
      });
    }
    var filterImagesByColor = function(color, images){
      var _color = color;
      var _images = images;
      if(_color == undefined) {
        return _images;
      }
      // filter
      return _images.filter(function(value, index) {
        return value.color == _color;
      });
    }
    var initProductSlider = function(){
      $productSlider.slick({
        dots: false,
        infinite: true,
        autoplay: false,
        arrows: true,
        fade: false,
        speed: 600,
        slidesToShow: 1,
        slidesToScroll: 1,
        centerMode: false,
        variableWidth: false,
        responsive: [
            {
              breakpoint: 1149,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 767,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
      });
    }
    var destroyProductSlider = function(){
      if($('.product-slider.slick-initialized').length) {
        $productSlider.slick('unslick');
      }
      $('.product-slider').empty();
      return true;
    }
    var fillSliderContent = function(){
      var images = filterImagesByColor(ProductState.color, ProductState.images);
      var _html = '';
      images.forEach(function(value,index){
        var _index = index + 1;
        var _image = value.url + '&w=488&h=675&fit=crop';
        _html += '<div class"slide slide-' + _index +'"><img class="image-slide" src="' + _image + '"></div>';
      });
      $productSlider.append(_html);
      return true;
    }
    var getNormalPriceOption = function(){
      var price = formatMoney(6900);
      return price;
    }
    var getDiscountPriceOption = function(){
      var price = formatMoney(4140);
      return price;
    }
    var getColorProductSelected = function(){
      var _defaultColor = ProductState.color;
      return $('.color-selected').val(_defaultColor);
    }
    var getSizeProductOptions = function(){
      return '<li class="size-options__item">xxs</li><li class="size-options__item">xs</li><li class="size-options__item">s</li><li class="size-options__item">m</li><li class="size-options__item">l</li><li class="size-options__item">xl</li><li class="size-options__item">xxl</li><li class="size-options__item">xxxl</li>';
    }
    var getAddToCartOptions = function(){
      return '<select></select>';
    }
    var getUrlToCompleteProduct = function(){
      return ProductState.permalink != null ? '/productos/'+ProductState.permalink : '';
    }
    var getThumbnailPermalink = function(){
      var _w = '&w=38';
      var _h = '&h=52';
      var _fit = '&fit=crop';
      var url = 'https://www.truereligion.com/mens-40-off-select'
      return url+_w+_h+_fit;
    }
    var ThumbnailColors = function() {
      $('.thumbnails-color input[type=radio]').on('change',function(){
        var _color = $(this).val();
        ProductState.color = _color;
        $('.color-selected').text(ProductState.color);
      });
    }
    var initPermalink = function(){

    }
    var getHtmlThumbnailsImages = function(){
      var _html = '';
      var colors = ProductState.colors;
      var images = ProductState.images;

      if(colors != null && images != null && colors.length > 0){
        colors.forEach(function(color){
          var _color = color;
          var current = images.find(function(element) {
            return element.color == _color;
          });
          if(current !== null) {
            var isChecked = current.color == ProductState.color ? 'checked' : '';
            _html += '<li class="thumbnails-permalink"><input id="'+current.color+'" type="radio" name="color" value="'+current.color+'" '+isChecked+'><label for="'+current.color+'"><img class="thumbnails-image" src="'+current.url+'"></label></li>';
          }
        });
      }

      return _html != '' ? _html : '';
    }

    var fillDataContent = function(){
      var _html = '';
      _html += '<h2 class="product-name">'+ProductState.name+'</h2>';
      _html += '<div class="product-price">';
      _html += '<span class="price-standard">'+getNormalPriceOption()+'</span>';
      _html += '<span class="price-discount">'+getDiscountPriceOption()+'</span>';
      _html += '</div>';
      _html += '<div class="color-selected">'+ProductState.color+'</div>';
      _html += '<ul class="thumbnails-color">';
      _html += getHtmlThumbnailsImages();
      _html += '</ul>';
      _html += '<ul class="size-options">';
      _html += getSizeProductOptions();
      _html += '</ul>';
      _html += '<div class="message-options">'+getSizeProductOptions()+'</div>';
      _html += '<div class="addToCart">'+getAddToCartOptions()+'</div>';
      _html += '<div class="view-full-product"><a href="'+getUrlToCompleteProduct()+'">Ver Detalles Completos</a></div>';
      $productData.append(_html);
      ThumbnailColors();
      getHtmlThumbnailsImages();
      return true;
    }
    var getImagesByColor = function(colorList, ObjectImages) {
      var _listcolors = colorList;
      var images = [];
      if(_listcolors != null) {
        _listcolors.forEach(function(value, index){
          var _currentColor = '_'+value.replace(/\s/g,'-')+'_';
          ObjectImages.forEach(function(nextvalue){
          var _originalName = nextvalue.original_filename.toLowerCase();
            if(_originalName.includes(_currentColor)) {
              images.push({color:value.replace(/\s/g,'-'), url: nextvalue.url });
            }
          });
        });
      } else {
        ObjectImages.forEach(function(value){
          images.push({url: value.url });
        });
      }
      if(images.length === 0) {
        ObjectImages.forEach(function(value){
          images.push({url: value.url });
        });
      }
      return images;
    }
    var getColorsList = function(index, object) {
      var _index = index;
      if(_index === false) {
        return null;
      }
      listcolors = [];
      object.skus.forEach(function(element){
        element.modifiers.forEach(function(color, i){
          var _color = lowerCase(color);
          if(i == _index && listcolors.indexOf(_color) == -1) {
            listcolors.push(_color);
          }
        });
      });
      return listcolors;
    }
    var getColorIndex = function(ArrayModifiers) {
      var ArrayModifiers = ArrayModifiers.map(lowerCase);
      return ArrayModifiers.indexOf('color') != -1 ? ArrayModifiers.indexOf('color') : false;
    }
    var buildContentModal = function(color, object) {
      var _defaultColor = color;
      console.log(object);
      var index = getColorIndex(object.modifiers);
      var colorList = getColorsList(index, object);
      var images = getImagesByColor(colorList, object.images);
      var data = {
        name: object.name,
        permalink: object.permalink,
        color: _defaultColor,
        colors: colorList,
        images: images,
        sku_default: object.sku_id,
        skus: object.skus,
        modifiers: object.modifiers
      }
      setProductState(data);
      destroyProductSlider();
      fillSliderContent();
      fillDataContent();
      initProductSlider();
    }
    $('.quick-view').on('click', function(){
      var ProductObj = {}
      var _id = $(this).data('product-id');
      var _defaultColor = $(this).data('product-color') === "" ? null : $(this).data('product-color');
      resetModal();
      var _currentProduct = getClickedProductObject(_id);
      buildContentModal(_defaultColor, _currentProduct);
    });
  });
</script>
