<div class="topbanner bgblack">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-xl-3 d-none d-lg-inline-block">
        <div class="flags d-none d-sm-table">
          <span class="flags__img"><img src="https://storage.kometia.test/store1/images/mexicoflag.jpg?v=1543948696g"></span> <span class="flags__currency">MEX ($MXN)</span>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-8 col-xl-6">
        <div class="message">
          <p class="message__text">Shop 30-70% Off + Free Standard Shipping - <a  class="message__link message--first" href="#">MENS</a> | <a class="message__link message--second" href="">WOMENS</a></p>
        </div>
      </div>
      <div class="col-lg-2 col-xl-3 d-none d-lg-inline-block text-right">
        <ul class="access d-none d-sm-inline-block">
          <li class="access__item"><a class="access__link access--signin" href="#">Sign In</a><span class="access--separator">/</span><a class="access__link access--register" href="#">Register</a></li>
          <div class="login-window">
            <div class="login-window__container">
              <a class="login-window__link login-window--my-account" href="#" title="Sign In">My Account</a>
              <a class="login-window__link login-window--wishlist" href="#" title="Wishlist">Wishlist</a>
              <a class="login-window__link login-window--order-status" href="#" title="Order Status">Order Status</a>
              <a class="btn login-window__link login-window--btn" href="#" title="Sign In">Sign In</a>
            </div>
          </div>
        </ul>
        <ul class="findstore d-none d-xl-inline-block">
          <li class="findstore__item"><a class="findstore__link">Find a Store</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
