<div class="topbanner bgblack">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="flags d-none d-sm-inline-block"></div>
      </div>
      <div class="col-6">
        <div class="message">
          <p class="message__text">Shop 30-70% Off + Free Standard Shipping - <a  class="message__link message--first" href="#">MENS</a> | <a class="message__link message--second" href="">WOMENS</a></p>
        </div>
      </div>
      <div class="col-3 text-right">
        <ul class="access d-none d-sm-inline-block">
          <li class="access__item"><a class="access__link access--signin" href="#">Sign In</a><span class="access--separator">/</span><a class="access__link access--register" href="#">Register</a></li>
          <div class="access__login-window"></div>
        </ul>
        <ul class="findstore d-none d-sm-block">
          <li class="findstore__item"><a class="findstore__link">Find a Store</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
