#wrapper:not(:root:root){
  background: rebeccapurple;
  @media (min-width: 768px) {
    background: pink;
  }
}


// Bug Fixes
@import "helpers/_safarifixes";

#wrapper:not(:root:root){
  background: rebeccapurple;
  @media (min-width: 768px) {
    background: pink;
  }
}

